/*
 * @Author: simonHlf 
 * @Date: 2018-10-17 22:52:22 
 * @Last Modified by: simonHlf
 * @Last Modified time: 2018-10-17 22:56:03
 */
 .footer{
     padding-bottom: 10px;
 }
 .footer .links{
    text-align: center;
    color: #666;
    line-height: 30px;
}
.footer .links .link{
    padding: 0 10px;
}
.footer .copyright{
    text-align: center;
    color: #666;
    line-height: 30px;
}