<div class="footer">
    <div class="w">
        <div class="links">
            <a href="http://www.zhu-xue.cn" target="_blank" class="link">助学网</a>|
            <a href="http://www.baidu.com" target="_blank" class="link">百度</a>|
            <a href="http://www.taobao.com" target="_blank" class="link">淘宝</a>
        </div>
        <p class="copyright">
            copyright © 2017 happymmall.com All Right Reserved
        </p>
    </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>